{
  "presets": ["latest", "stage-2"],

  "plugins":
  [
    "add-module-exports",
    ["module-resolver", {
      "root": ["."],
      "alias":
      {
      }
    }],
    "transform-runtime"
  ],

  "env":
  {
    "tjsdoc-dev":
    {
      "plugins":
      [
        "add-module-exports",
        ["module-resolver", {
          "root": ["."],
          "cwd": "babelrc",
          "alias":
          {
            "backbone-esnext-eventbus": "../../typhonjs-node-tjsdoc/tjsdoc/node_modules/backbone-esnext-eventbus/dist/eventbus.js"
          }
        }],
        "transform-runtime"
      ]
    }
  }
}
